<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
     .dropdown-item{
      color:green
    }
  </style>
</head>
<body>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
       who are you 
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" href="/home" >student</a></li>
        <li><a class="dropdown-item" href="/home/login" >parent</a></li>
      </ul>
    </div>
  </div>
</body>
</html>